/*Couleur de fond*/
body
{
	background-color:#35404b
}
		
/*Titre principal*/
h1 
{
	color: #E9E9E9;
	font-family: 'Trebuchet MS';
	border-bottom: 3px solid #4EB1BA;
	font-size: 48px;
	font-weight: 400;
	line-height: 72px;
	letter-spacing: 30px;
	margin-bottom: 50px;
	text-align: center;
	text-indent: 24px;
	text-transform: uppercase;
}

/*Titre secondaire */
h2
{	
    	color: #E9E9E9;
	font-family: 'Trebuchet MS';
	font-size: 28px;
	font-style: italic;
	font-weight: 400;
	line-height: 48px;
	max-width: 640px;
	margin: 0 auto 48px;
	text-align: center;
}
    
/*Bouton*/
Label1
{
	color: #4EB1BA;	
	border-bottom: 2px solid#4EB1BA;
	font-family: 'Trebuchet MS';
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 3px;
	text-decoration: none;
	text-transform: uppercase;
	text-align:center;
}

/*Lien*/
a
{
	text-align:center;
	color: #4EB1BA;	
}
a:hover
{
	color: #E9E9E9;
}
