/*Couleur de fond*/

body {
    background-color: #35404b
}

/*Titre principal*/

h1 {
    color: #fff;
    font-family: 'Cormorant Garamond';
    border-bottom: 3px solid #4EB1BA;
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 30px;
    margin-bottom: 50px;
    text-align: center;
    text-indent: 24px;
    text-transform: uppercase;
}

form {
    /* Pour le centrer dans la page */
    margin: 0 auto;
    width: 400px;
    /* Pour voir les limites du formulaire */
    padding: 1em;
    border: 1px solid #fff;
    border-radius: 1em;
}

form div + div {
    margin-top: 1em;
}

label {
    /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
    color: #E9E9E9;
    font-family: 'Cormorant Garamond';
    display: inline-block;
    width: 150px;
    text-align: right;
}

input:focus {
    /* Afin de rehausser les éléments actifs */
    border-color: #252c34;
}

.button {
    /* Pour positionner les boutons de la même manière que les champs textuels */
    padding-left: 190px;
    /* même dimension que les étiquettes */
}

button {
    /* Cette marge représente approximativement le même espace
       que celui entre les étiquettes et les champs textuels */
    margin-left: .5em;
    border-radius: 1000px;
}
